<a href="https://colab.research.google.com/github/Danazzz/dataset-beras-scm/blob/main/SCM_Beras1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [383]:
# Import libraries
import pandas as pd
import zipfile, os
import numpy as np
import csv
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
from statsmodels.tsa.stattools import adfuller
plt.rcParams['figure.figsize'] = 15, 6            #agar semua plot ukurannya sama
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
from sklearn.metrics import mean_squared_error
from math import sqrt
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.vector_ar.var_model import VAR

import xgboost

In [384]:
#Load data BI
converters = {
    'Beras': lambda x: str(x.replace(',', '')),
    'Beras Kualitas Bawah I' : lambda x: str(x.replace(',', '')),
    'Beras Kualitas Medium I' : lambda x: str(x.replace(',', '')),
    'Beras Kualitas Super I' : lambda x: str(x.replace(',', '')),
}

df1 = pd.read_csv('./csv/Tabel Harga Berdasarkan Daerah Jabar.csv', converters=converters)
df1

,Komoditas,Beras,Beras Kualitas Bawah I,Beras Kualitas Bawah II,Beras Kualitas Medium I,Beras Kualitas Medium II,Beras Kualitas Super I,Beras Kualitas Super II,Beras Kualitas Bawah,Beras Kualitas Medium,Beras Kualitas Super
0,01/ 01/ 2020,-,-,-,-,-,-,-,0,0,0
1,02/ 01/ 2020,11150,10100,9500,11350,10850,12900,12100,9800,11100,12500
2,03/ 01/ 2020,11150,10100,9500,11350,10850,12900,12100,9800,11100,12500
3,06/ 01/ 2020,11150,10150,9550,11350,10850,12900,12100,9850,11100,12500
4,07/ 01/ 2020,11200,10200,9650,11400,10900,12950,12150,9925,11150,12550
...,...,...,...,...,...,...,...,...,...,...,...
1093,11/ 03/ 2024,15800,14950,14500,16050,15550,17250,16550,14725,15800,16900
1094,12/ 03/ 2024,15800,14950,14500,16050,15550,17250,16550,14725,15800,16900
1095,13/ 03/ 2024,15750,14900,14400,16000,15450,17200,16550,14650,15725,16875
1096,14/ 03/ 2024,15750,14900,14400,16000,15450,17200,16550,14650,15725,16875
1097,15/ 03/ 2024,15750,14950,14400,16000,15500,17200,16550,14675,15750,16875

In [385]:
print('Data Types:')
print(df1.dtypes)

Data Types:
Komoditas                   object
Beras                       object
Beras Kualitas Bawah I      object
Beras Kualitas Bawah II     object
Beras Kualitas Medium I     object
Beras Kualitas Medium II    object
Beras Kualitas Super I      object
Beras Kualitas Super II     object
Beras Kualitas Bawah        object
Beras Kualitas Medium       object
Beras Kualitas Super        object
dtype: object

In [386]:
#Mengubah tanggal menjadi index
con=df1['Komoditas']
df1['Komoditas'] = pd.to_datetime(df1['Komoditas'], format='%d/ %m/ %Y')
df1.set_index('Komoditas', inplace=True)
#check datatype of index
df1.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14',
               ...
               '2024-03-04', '2024-03-05', '2024-03-06', '2024-03-07',
               '2024-03-08', '2024-03-11', '2024-03-12', '2024-03-13',
               '2024-03-14', '2024-03-15'],
              dtype='datetime64[ns]', name='Komoditas', length=1098, freq=None)

In [387]:
df1 = df1.iloc[:, [0, 7, 8, 9]]
df1

,Beras,Beras Kualitas Bawah,Beras Kualitas Medium,Beras Kualitas Super
Komoditas,,,,
2020-01-01,-,0,0,0
2020-01-02,11150,9800,11100,12500
2020-01-03,11150,9800,11100,12500
2020-01-06,11150,9850,11100,12500
2020-01-07,11200,9925,11150,12550
...,...,...,...,...
2024-03-11,15800,14725,15800,16900
2024-03-12,15800,14725,15800,16900
2024-03-13,15750,14650,15725,16875
2024-03-14,15750,14650,15725,16875
2024-03-15,15750,14675,15750,16875

In [388]:
df1.info()
df1.shape

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1098 entries, 2020-01-01 to 2024-03-15
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Beras                  1098 non-null   object
 1   Beras Kualitas Bawah   1098 non-null   object
 2   Beras Kualitas Medium  1098 non-null   object
 3   Beras Kualitas Super   1098 non-null   object
dtypes: object(4)
memory usage: 42.9+ KB

(1098, 4)

In [389]:
converters = {
    'Luas Panen Padi': lambda x: str(x.replace('.', '')),
    'GKP Tingkat Petani': lambda x: str(x.replace('.', '')),
    'GKP Tingkat Penggilingan' : lambda x: str(x.replace('.', '')),
    'GKG Tingkat Penggilingan' : lambda x: str(x.replace('.', '')),
    'Beras Medium Penggilingan' : lambda x: str(x.replace('.', '')),
    'Beras Premium Penggilingan' : lambda x: str(x.replace('.', '')),
}

#Load data
df2 = pd.read_csv('./csv/export-produsen-2.csv', converters=converters)
# print(df2.head())
df2

,Komoditas,Luas Panen Padi,GKP Tingkat Petani,GKP Tingkat Penggilingan,GKG Tingkat Penggilingan,Beras Medium Penggilingan,Beras Premium Penggilingan,Ratarata Beras Penggilingan,Jagung Pipilan Kering,Kedelai Biji Kering (Lokal),Bawang Merah,Cabai Merah Keriting,Cabai Rawit Merah,Sapi (Hidup),Ayam Ras Pedaging (Hidup),Telur Ayam Ras,Stok GKG Tingkat Penggilingan,Stok Beras Tingkat Penggilingan
0,01/01/2020,20,3700,4000,4500,8200,9200,8700,-,-,-,-,-,-,-,-,600,150
1,02/01/2020,-,-,-,-,-,-,#DIV/0!,-,-,-,-,-,-,-,-,-,-
2,03/01/2020,-,-,-,-,-,-,#DIV/0!,-,-,-,-,-,-,-,-,-,-
3,04/01/2020,-,-,-,-,-,-,#DIV/0!,-,-,-,-,-,-,-,-,-,-
4,05/01/2020,-,-,-,-,-,-,#DIV/0!,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,11/03/2024,10,6760,7140,8330,14180,15640,14910,5540,10610,15990,41880,45050,54440,24480,27540,120,80
1532,12/03/2024,10,6530,6930,8260,14140,15480,14810,5250,10610,16330,42830,43390,54470,24480,28260,120,80
1533,13/03/2024,10,6480,6920,8240,14040,15460,14750,5280,10310,15990,43770,42270,54560,24000,28200,100,60
1534,14/03/2024,10,6510,7060,8240,14050,15510,14780,5280,10310,15840,45070,41840,54550,24010,28130,150,70
1535,15/03/2024,10,6480,6930,8190,14120,15470,14795,5460,10310,15370,44550,42570,54480,23810,28100,150,80

PRODUSEN
Panel Harga Pangan pada tingkat produsen yang diamati meliputi:
- Luas Lahan/Sawah Padi, persentase (%) luas panen Padi di kecamatan sentra produksi.
- GKP Tingkat Petani, harga di Petani (Rp/Kg)
- GKP Tingkat Penggilingan, harga di Penggilingan (Rp/Kg)
- GKG Tingkat Penggilingan, harga di Penggilingan (Rp/Kg)
- Beras Medium Tingkat Penggilingan, harga di Penggilingan (Rp/Kg)
- Beras Premium Tingkat Penggilingan, harga di Penggilingan (Rp/Kg)
- Stok GKG Tingkat Penggilingan, stok dalam satuan Kwintal
- Stok Beras Tingkat Penggilingan, stok dalam satuan Kwintal

In [390]:
print('Data Types:')
print(df2.dtypes)

Data Types:
Komoditas                          object
Luas Panen Padi                    object
GKP Tingkat Petani                 object
GKP Tingkat Penggilingan           object
GKG Tingkat Penggilingan           object
Beras Medium Penggilingan          object
Beras Premium Penggilingan         object
Ratarata Beras Penggilingan        object
Jagung Pipilan Kering              object
Kedelai Biji Kering (Lokal)        object
Bawang Merah                       object
Cabai Merah Keriting               object
Cabai Rawit Merah                  object
Sapi (Hidup)                       object
Ayam Ras Pedaging (Hidup)          object
Telur Ayam Ras                     object
Stok GKG Tingkat Penggilingan      object
Stok Beras Tingkat Penggilingan    object
dtype: object

In [391]:
#Mengubah tanggal menjadi index
con=df2['Komoditas']
df2['Komoditas'] = pd.to_datetime(df2['Komoditas'], format='%d/%m/%Y')
df2.set_index('Komoditas', inplace=True)
#check datatype of index
df2.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2024-03-06', '2024-03-07', '2024-03-08', '2024-03-09',
               '2024-03-10', '2024-03-11', '2024-03-12', '2024-03-13',
               '2024-03-14', '2024-03-15'],
              dtype='datetime64[ns]', name='Komoditas', length=1536, freq=None)

In [392]:
print(df2.columns)

Index(['Luas Panen Padi', 'GKP Tingkat Petani', 'GKP Tingkat Penggilingan',
       'GKG Tingkat Penggilingan', 'Beras Medium Penggilingan',
       'Beras Premium Penggilingan', 'Ratarata Beras Penggilingan',
       'Jagung Pipilan Kering', 'Kedelai Biji Kering (Lokal)', 'Bawang Merah',
       'Cabai Merah Keriting', 'Cabai Rawit Merah', 'Sapi (Hidup)',
       'Ayam Ras Pedaging (Hidup)', 'Telur Ayam Ras',
       'Stok GKG Tingkat Penggilingan', 'Stok Beras Tingkat Penggilingan'],
      dtype='object')

In [393]:
df2 = df2.iloc[:, [0, 1, 2, 3, 6, 15, 16]]
df2

,Luas Panen Padi,GKP Tingkat Petani,GKP Tingkat Penggilingan,GKG Tingkat Penggilingan,Ratarata Beras Penggilingan,Stok GKG Tingkat Penggilingan,Stok Beras Tingkat Penggilingan
Komoditas,,,,,,,
2020-01-01,20,3700,4000,4500,8700,600,150
2020-01-02,-,-,-,-,#DIV/0!,-,-
2020-01-03,-,-,-,-,#DIV/0!,-,-
2020-01-04,-,-,-,-,#DIV/0!,-,-
2020-01-05,-,-,-,-,#DIV/0!,-,-
...,...,...,...,...,...,...,...
2024-03-11,10,6760,7140,8330,14910,120,80
2024-03-12,10,6530,6930,8260,14810,120,80
2024-03-13,10,6480,6920,8240,14750,100,60
2024-03-14,10,6510,7060,8240,14780,150,70
2024-03-15,10,6480,6930,8190,14795,150,80

In [394]:
# ini datanya ada yang gajelas 1
# luas panen 20710?
df2 = df2.drop(df2[df2['Luas Panen Padi'] == '20710'].index)

In [395]:
df2.info()
df2.shape

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1535 entries, 2020-01-01 to 2024-03-15
Data columns (total 7 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Luas Panen Padi                  1535 non-null   object
 1   GKP Tingkat Petani               1535 non-null   object
 2   GKP Tingkat Penggilingan         1535 non-null   object
 3   GKG Tingkat Penggilingan         1535 non-null   object
 4   Ratarata Beras Penggilingan      1535 non-null   object
 5   Stok GKG Tingkat Penggilingan    1535 non-null   object
 6   Stok Beras Tingkat Penggilingan  1535 non-null   object
dtypes: object(7)
memory usage: 95.9+ KB

(1535, 7)

In [396]:
df3 = pd.merge(df2, df1, on='Komoditas', how='left')
df3

,Luas Panen Padi,GKP Tingkat Petani,GKP Tingkat Penggilingan,GKG Tingkat Penggilingan,Ratarata Beras Penggilingan,Stok GKG Tingkat Penggilingan,Stok Beras Tingkat Penggilingan,Beras,Beras Kualitas Bawah,Beras Kualitas Medium,Beras Kualitas Super
Komoditas,,,,,,,,,,,
2020-01-01,20,3700,4000,4500,8700,600,150,-,0,0,0
2020-01-02,-,-,-,-,#DIV/0!,-,-,11150,9800,11100,12500
2020-01-03,-,-,-,-,#DIV/0!,-,-,11150,9800,11100,12500
2020-01-04,-,-,-,-,#DIV/0!,-,-,NaN,NaN,NaN,NaN
2020-01-05,-,-,-,-,#DIV/0!,-,-,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2024-03-11,10,6760,7140,8330,14910,120,80,15800,14725,15800,16900
2024-03-12,10,6530,6930,8260,14810,120,80,15800,14725,15800,16900
2024-03-13,10,6480,6920,8240,14750,100,60,15750,14650,15725,16875
2024-03-14,10,6510,7060,8240,14780,150,70,15750,14650,15725,16875
2024-03-15,10,6480,6930,8190,14795,150,80,15750,14675,15750,16875

In [397]:
df3.info()
df3.nunique()

# Menampilkan nilai unik dalam setiap kolom
for col in df3.columns:
    unique_values = df3[col].unique()
    print(f"Nilai unik dalam kolom {col}: {unique_values}")

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1535 entries, 2020-01-01 to 2024-03-15
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Luas Panen Padi                  1535 non-null   object
 1   GKP Tingkat Petani               1535 non-null   object
 2   GKP Tingkat Penggilingan         1535 non-null   object
 3   GKG Tingkat Penggilingan         1535 non-null   object
 4   Ratarata Beras Penggilingan      1535 non-null   object
 5   Stok GKG Tingkat Penggilingan    1535 non-null   object
 6   Stok Beras Tingkat Penggilingan  1535 non-null   object
 7   Beras                            1097 non-null   object
 8   Beras Kualitas Bawah             1097 non-null   object
 9   Beras Kualitas Medium            1097 non-null   object
 10  Beras Kualitas Super             1097 non-null   object
dtypes: object(11)
memory usage: 143.9+ KB
Nilai unik dalam kolom Luas Panen Padi: ['20' '-' '0' '10' '40' '50' '70' '60' '80' '90' '30' '100']
Nilai unik dalam kolom GKP Tingkat Petani: ['3700' '-' '4500' '4400' '4240' '4150' '4000' '3850' '4160' '4120' '4190'
 '4060' '3990' '3950' '3860' '4010' '3930' '3960' '3970' '4040' '3900'
 '3920' '3980' '4050' '4020' '4100' '4070' '4220' '4320' '4170' '4200'
 '4260' '4230' '4250' '4080' '4110' '4340' '4180' '4140' '4300' '4130'
 '4270' '4090' '4280' '4210' '4360' '4330' '4370' '4350' '4290' '4310'
 '4450' '4430' '4490' '4390' '4420' '4380' '4410' '4460' '4470' '4440'
 '4540' '4520' '4610' '4580' '4570' '4560' '4600' '4660' '4620' '4750'
 '4780' '4590' '4480' '4510' '4550' '4530' '4630' '4700' '4640' '4650'
 '4810' '4680' '4790' '4900' '4860' '5010' '4890' '4740' '4820' '4910'
 '4830' '4850' '4980' '4990' '5130' '5240' '4690' '4880' '4770' '4840'
 '4930' '4870' '5090' '5170' '5230' '5270' '5300' '5370' '5350' '5250'
 '5320' '5220' '5120' '5100' '4950' '5050' '5030' '5070' '4920' '5040'
 '5150' '5110' '5080' '5020' '5200' '5060' '4970' '5140' '5160' '5190'
 '5330' '5360' '5510' '5310' '5290' '5450' '5280' '5210' '5340' '5380'
 '5420' '5400' '5440' '5390' '5630' '5610' '5850' '5430' '5600' '5680'
 '5650' '5660' '5710' '5770' '5810' '5830' '5890' '5910' '5930' '5960'
 '6060' '6090' '6240' '6340' '6560' '6440' '6580' '6460' '6510' '6530'
 '6490' '6700' '6620' '6640' '6260' '6420' '6410' '6540' '6590' '6690'
 '6660' '6550' '6670' '6720' '6890' '6570' '6610' '6400' '6790' '6860'
 '6740' '6840' '6770' '6600' '6630' '6650' '6730' '6760' '6520' '6820'
 '6920' '6870' '6940' '6980' '7110' '6960' '6950' '7090' '7000' '6970'
 '7120' '7070' '7050' '7220' '7250' '7390' '7230' '7210' '7260' '7240'
 '7300' '7270' '7320' '7140' '7310' '7130' '7200' '7150' '7290' '7030'
 '6930' '6480']
Nilai unik dalam kolom GKP Tingkat Penggilingan: ['4000' '-' '4700' '4800' '4650' '4450' '4500' '4150' '4100' '4230' '4190'
 '4290' '4270' '4170' '4120' '4140' '4070' '4240' '4220' '4200' '4260'
 '4180' '4250' '4300' '4490' '4370' '4400' '4360' '4350' '4380' '4390'
 '4430' '4340' '4210' '4310' '4330' '4460' '4320' '4280' '4410' '4420'
 '4470' '4440' '4480' '4520' '4510' '4530' '4550' '4540' '4580' '4570'
 '4560' '4610' '4690' '4630' '4590' '4730' '4620' '4600' '4660' '4740'
 '4710' '4670' '4640' '4680' '4760' '4780' '4820' '4810' '4870' '4880'
 '4790' '4950' '4910' '4890' '4970' '4960' '4860' '4940' '4850' '4770'
 '4840' '4830' '4920' '4930' '5030' '4990' '5080' '5170' '4980' '5050'
 '5020' '5000' '5190' '5100' '5200' '5150' '5330' '5180' '5220' '5210'
 '5110' '5090' '5270' '5370' '5380' '5490' '5240' '5300' '5070' '5250'
 '5230' '5060' '5120' '5340' '5440' '5580' '5520' '5630' '5700' '5820'
 '5790' '5690' '5730' '5670' '5710' '5740' '5660' '5720' '5680' '5610'
 '5620' '5550' '5640' '5540' '5590' '5350' '5320' '5360' '5430' '5530'
 '5450' '5470' '5510' '5460' '5410' '5290' '5310' '5400' '5280' '5260'
 '5160' '5480' '5420' '5390' '5500' '5570' '5560' '5850' '6040' '5840'
 '5940' '6010' '5890' '5870' '5900' '5970' '5980' '6080' '6070' '6120'
 '6130' '6210' '6190' '6290' '6260' '6370' '6510' '6410' '6470' '6380'
 '6530' '6690' '6650' '6630' '6710' '6680' '6720' '6700' '6730' '6760'
 '6750' '6790' '6810' '6800' '6840' '6820' '6850' '6830' '6860' '6900'
 '6890' '7010' '6870' '6910' '6930' '6740' '7020' '6940' '6950' '6920'
 '6960' '7000' '6970' '6880' '6780' '7060' '7160' '6770' '6990' '7120'
 '7070' '7090' '7210' '7220' '7250' '7300' '7390' '7200' '7260' '7330'
 '7280' '7340' '7310' '7570' '7370' '7380' '7350' '7410' '7540' '7450'
 '7670' '7680' '7730' '7860' '7710' '7660' '7810' '7720' '7790' '7750'
 '7800' '7600' '7640' '7590' '7610' '7700' '7530' '7510' '7560' '7430'
 '7140']
Nilai unik dalam kolom GKG Tingkat Penggilingan: ['4500' '-' '5800' '5200' '5600' '5240' '5110' '5230' '5250' '5150' '5050'
 '4740' '4950' '4730' '4990' '4910' '4770' '4810' '4870' '4850' '4800'
 '4890' '4760' '4830' '4840' '4790' '4820' '4860' '4970' '4900' '4940'
 '4930' '4960' '4980' '5030' '5010' '5070' '5000' '5100' '5040' '5060'
 '5020' '5080' '4920' '4880' '5120' '5190' '5090' '5130' '5160' '5210'
 '5310' '5290' '5300' '5280' '5400' '5270' '5260' '5220' '5320' '5340'
 '5330' '5390' '5370' '5460' '5570' '5590' '5540' '5630' '5620' '5650'
 '5610' '5760' '5580' '5710' '5720' '5730' '5740' '5700' '5530' '5440'
 '5380' '5490' '5360' '5350' '5170' '5180' '5410' '5470' '5420' '5430'
 '5450' '5500' '5550' '5510' '5560' '5670' '5640' '5660' '5690' '5680'
 '5770' '5780' '5790' '5840' '5830' '5870' '5960' '5900' '5880' '5820'
 '5860' '6050' '5910' '5890' '5940' '6000' '6020' '6090' '6150' '6080'
 '6060' '6160' '6140' '6210' '6200' '6130' '6420' '6330' '6320' '6280'
 '6250' '6230' '6290' '6270' '6300' '6260' '6180' '6100' '6480' '6430'
 '6500' '6570' '6560' '6620' '6670' '6700' '6710' '6810' '6680' '6760'
 '6550' '6650' '6530' '6510' '6600' '6440' '6220' '6470' '6240' '6190'
 '6170' '5980' '6040' '6030' '6110' '6120' '6370' '6310' '6340' '6390'
 '6350' '6360' '6380' '6410' '6490' '6590' '6580' '6660' '6800' '6840'
 '6870' '6940' '6950' '6970' '7010' '7050' '7060' '7080' '7120' '7130'
 '7200' '7290' '7260' '7350' '7360' '7470' '7700' '7630' '7510' '7590'
 '7520' '7530' '7540' '7650' '7760' '7730' '7680' '7690' '7720' '7710'
 '7800' '7780' '7840' '7740' '7790' '7810' '7770' '7820' '7830' '7850'
 '7900' '7890' '7860' '7880' '7920' '7870' '7750' '7670' '7910' '8000'
 '8030' '7930' '7970' '7980' '7990' '8060' '8050' '8070' '8020' '8100'
 '8220' '8080' '8160' '8190' '8200' '8130' '8150' '8170' '8180' '8110'
 '8280' '8240' '8310' '8330' '8480' '8470' '8460' '8510' '8670' '8570'
 '8560' '8630' '8640' '8650' '8720' '8700' '8740' '8730' '8810' '8880'
 '9050' '9040' '9070' '9150' '9110' '9300' '9200' '9290' '9260' '9250'
 '9210' '9130' '9020' '9010' '8980' '8960' '8820' '8500' '8490' '8540'
 '8550' '8260']
Nilai unik dalam kolom Ratarata Beras Penggilingan: ['8700' '#DIV/0!' '9200' '9445' '9395' '9470' '9250' '9560' '9500' '9515'
 '9465' '9360' '9400' '9340' '9410' '9365' '9350' '9165' '9215' '9375'
 '9335' '9440' '9155' '9120' '9295' '9285' '9185' '9255' '9245' '9230'
 '9235' '9175' '9240' '9290' '9455' '9260' '9320' '9355' '9345' '9195'
 '9280' '9265' '9435' '9330' '9450' '9310' '9480' '9510' '9505' '9460'
 '9430' '9525' '9540' '9530' '9545' '9520' '9300' '9415' '9425' '9390'
 '9535' '9315' '9325' '9475' '9405' '9385' '9380' '9275' '9370' '9305'
 '9420' '9490' '9495' '9585' '9575' '9580' '9555' '9600' '9605' '9590'
 '9595' '9610' '9615' '9640' '9685' '9620' '9625' '9635' '9720' '9705'
 '9695' '9650' '9655' '9690' '9645' '9660' '9700' '9725' '9570' '9730'
 '9740' '9710' '9715' '9745' '9750' '9550' '9565' '9190' '9760' '9790'
 '9735' '9830' '9880' '9865' '9810' '9785' '9820' '9825' '9775' '9780'
 '9815' '9800' '9755' '9765' '9835' '9870' '9915' '9860' '9850' '9855'
 '9925' '9920' '9930' '9935' '9970' '9960' '9955' '9895' '9885' '9950'
 '9965' '10010' '10035' '10030' '10055' '10005' '10045' '10150' '10155'
 '10225' '10265' '10275' '10260' '10300' '10550' '10085' '10295' '10420'
 '10310' '10340' '10470' '10355' '10475' '10585' '10455' '10495' '10730'
 '10555' '10590' '10810' '10570' '10545' '10860' '10880' '10905' '10775'
 '10815' '10960' '11055' '10930' '11050' '11090' '10985' '11225' '11015'
 '11105' '11155' '11010' '10965' '10950' '11000' '11005' '11070' '11175'
 '11165' '11065' '11260' '11405' '11445' '11465' '11365' '11475' '11480'
 '11505' '11500' '11530' '11400' '11380' '11415' '11320' '11240' '11300'
 '11290' '11140' '11235' '11340' '11100' '11110' '11255' '11160' '11095'
 '11060' '11120' '11150' '11080' '11310' '11220' '11135' '11130' '11125'
 '11185' '11180' '11250' '11195' '11315' '11200' '11205' '11215' '11275'
 '11230' '11170' '11210' '11305' '11355' '11295' '11190' '11145' '11270'
 '11265' '11285' '11330' '11360' '11325' '11420' '11280' '11375' '11495'
 '11440' '11515' '11620' '11700' '11650' '11685' '11635' '11680' '11565'
 '11760' '11765' '11870' '11880' '11955' '12030' '12080' '12085' '12050'
 '12120' '12160' '12155' '12245' '12385' '12445' '12570' '12630' '12715'
 '12790' '12785' '12825' '12735' '12860' '12885' '12925' '12990' '12960'
 '12935' '13000' '13010' '13045' '12985' '13020' '13025' '13090' '13015'
 '13050' '13060' '13055' '13135' '13130' '13075' '12970' '13065' '13095'
 '12975' '12950' '12965' '12995' '12865' '12895' '12880' '12905' '12920'
 '12910' '12945' '12955' '12930' '13105' '13110' '13160' '13150' '13165'
 '13140' '13080' '13100' '13145' '13120' '13205' '13155' '13185' '13265'
 '13235' '13250' '13260' '13295' '13270' '13275' '13280' '13255' '13330'
 '13365' '13420' '13385' '13395' '13315' '13550' '13525' '13545' '13495'
 '13555' '13335' '13585' '13715' '13695' '13895' '13915' '13960' '13795'
 '13940' '14170' '14300' '14350' '14115' '14510' '14435' '14715' '15365'
 '15290' '15410' '15425' '15415' '15475' '15465' '15480' '15395' '15435'
 '15400' '15430' '15350' '15405' '15355' '15285' '15150' '14960' '14985'
 '14940' '14955' '14910' '14810' '14750' '14780' '14795']
Nilai unik dalam kolom Stok GKG Tingkat Penggilingan: ['600' '-' '20' '70' '30' '40' '60' '90' '50' '80' '150' '100' '110' '120'
 '130' '180' '170' '160' '140' '210' '240' '200' '420' '520' '480' '220'
 '290' '280' '400' '350' '320' '250' '300' '270' '260' '310' '340' '360'
 '230' '500' '190']
Nilai unik dalam kolom Stok Beras Tingkat Penggilingan: ['150' '-' '10' '20' '40' '50' '30' '60' '70' '80' '90' '100' '110' '170'
 '200' '130' '190' '220' '250' '160' '140' '260' '270' '240']
Nilai unik dalam kolom Beras: ['-' '11150' nan '11200' '11250' '11300' '11350' '11400' '11450' '11500'
 '11000' '11100' '11750' '11850' '11950' '11550' '11600' '11650' '11700'
 '11800' '11900' '12050' '12100' '12150' '12300' '12350' '12400' '12450'
 '12500' '12600' '12550' '12750' '12800' '12850' '12950' '13050' '13400'
 '13600' '13650' '13700' '13750' '13800' '13850' '13900' '13950' '14000'
 '14050' '14100' '14150' '14250' '14300' '14450' '14500' '14550' '14650'
 '14750' '14800' '15150' '15250' '15300' '15450' '15500' '15850' '15550'
 '15600' '15650' '15700' '15750' '15800']
Nilai unik dalam kolom Beras Kualitas Bawah: ['0' '9800' nan '9850' '9925' '9950' '9975' '10075' '10100' '4952' '10125'
 '10150' '10175' '#DIV/0!' '10200' '10225' '10250' '10050' '9900' '9725'
 '9875' '9825' '9775' '9700' '9750' '10000' '10025' '10300' '10375'
 '10450' '10475' '10525' '10550' '10575' '10675' '10700' '10725' '10800'
 '10825' '10850' '10900' '11050' '11075' '11125' '11200' '11225' '11250'
 '11275' '11175' '11150' '11300' '11350' '11425' '11450' '11525' '11650'
 '11675' '11725' '11775' '11875' '12000' '12025' '12350' '12525' '12575'
 '12625' '12700' '12725' '12750' '12775' '12800' '12825' '12850' '12875'
 '12925' '12975' '12950' '13000' '13025' '13050' '13150' '13200' '13250'
 '13350' '13400' '13475' '13650' '13675' '13750' '14100' '14175' '14300'
 '14375' '15150' '14450' '14475' '14575' '14600' '14675' '14825' '14775'
 '14750' '14725' '14650']
Nilai unik dalam kolom Beras Kualitas Medium: ['0' '11100' nan '11150' '11175' '11200' '11225' '11325' '11350' '11400'
 '#DIV/0!' '11425' '11450' '11300' '11275' '11250' '11075' '11025' '11125'
 '11050' '10950' '11375' '11475' '11500' '11600' '11625' '11650' '11675'
 '11700' '11725' '11800' '11850' '11925' '11950' '11975' '12050' '12250'
 '12350' '12400' '12375' '12500' '12325' '12300' '12275' '12425' '12450'
 '12650' '12675' '12725' '12750' '12900' '12950' '12975' '13325' '13550'
 '13600' '13650' '13675' '13725' '13750' '13775' '13800' '13825' '13875'
 '13900' '13925' '13975' '14000' '14050' '14225' '14275' '14400' '14450'
 '14575' '14650' '14750' '15100' '15200' '15425' '15475' '15875' '15500'
 '15550' '15650' '15700' '15750' '15800' '15850' '15725']
Nilai unik dalam kolom Beras Kualitas Super: ['0' '12500' nan '12550' '12575' '12625' '12675' '12700' '12725' '12750'
 '12775' '#DIV/0!' '12800' '12825' '12650' '12175' '12475' '12600' '14200'
 '14300' '12900' '14550' '12850' '12875' '12925' '12950' '12975' '13000'
 '13025' '13050' '13075' '13100' '13125' '13150' '13175' '13200' '13250'
 '13275' '13350' '13425' '13625' '13650' '13700' '13750' '13775' '13875'
 '14025' '13825' '14125' '13675' '13725' '13900' '13950' '13975' '14000'
 '14100' '14525' '14750' '14800' '14825' '14875' '14900' '14950' '15000'
 '15050' '15025' '15100' '15125' '15150' '15200' '15275' '15350' '15400'
 '15525' '15675' '15700' '15800' '15850' '15900' '16275' '16325' '16375'
 '16475' '16625' '16675' '16550' '16725' '16800' '16850' '16900' '16925'
 '16950' '16875']

In [398]:
df4 = pd.read_csv('./csv/distributor_pembelian.csv')
df4

       Komoditas        UMP BBM Solar quantity
0     01/01/2020  1,810,351     9,500  113,151
1     02/01/2020  1,810,351     9,500  113,151
2     03/01/2020  1,810,351     9,500  113,151
3     04/01/2020  1,810,351     9,500  113,151
4     05/01/2020  1,810,351     9,500  113,151
...          ...        ...       ...      ...
1531  11/03/2024  2,057,495     6,800  113,151
1532  12/03/2024  2,057,495     6,800  113,151
1533  13/03/2024  2,057,495     6,800  113,151
1534  14/03/2024  2,057,495     6,800  113,151
1535  15/03/2024  2,057,495     6,800  113,151

[1536 rows x 4 columns]

In [399]:
#delete all commas in the data
df4['UMP'] = df4['UMP'].str.replace(',', '')
df4['BBM Solar'] = df4['BBM Solar'].str.replace(',', '')
df4['quantity'] = df4['quantity'].str.replace(',', '')
df4

       Komoditas      UMP BBM Solar quantity
0     01/01/2020  1810351      9500   113151
1     02/01/2020  1810351      9500   113151
2     03/01/2020  1810351      9500   113151
3     04/01/2020  1810351      9500   113151
4     05/01/2020  1810351      9500   113151
...          ...      ...       ...      ...
1531  11/03/2024  2057495      6800   113151
1532  12/03/2024  2057495      6800   113151
1533  13/03/2024  2057495      6800   113151
1534  14/03/2024  2057495      6800   113151
1535  15/03/2024  2057495      6800   113151

[1536 rows x 4 columns]

In [400]:
#Mengubah tanggal menjadi index
con=df4['Komoditas']
df4['Komoditas'] = pd.to_datetime(df4['Komoditas'], format='%d/%m/%Y')
df4.set_index('Komoditas', inplace=True)
#check datatype of index
df4.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2024-03-06', '2024-03-07', '2024-03-08', '2024-03-09',
               '2024-03-10', '2024-03-11', '2024-03-12', '2024-03-13',
               '2024-03-14', '2024-03-15'],
              dtype='datetime64[ns]', name='Komoditas', length=1536, freq=None)

In [401]:
df4 = df4.astype('Int64')
df4

                UMP  BBM Solar  quantity
Komoditas
2020-01-01  1810351       9500    113151
2020-01-02  1810351       9500    113151
2020-01-03  1810351       9500    113151
2020-01-04  1810351       9500    113151
2020-01-05  1810351       9500    113151
...             ...        ...       ...
2024-03-11  2057495       6800    113151
2024-03-12  2057495       6800    113151
2024-03-13  2057495       6800    113151
2024-03-14  2057495       6800    113151
2024-03-15  2057495       6800    113151

[1536 rows x 3 columns]

In [402]:
df5 = pd.merge(df3, df4, on='Komoditas', how='left')
df5

,Luas Panen Padi,GKP Tingkat Petani,GKP Tingkat Penggilingan,GKG Tingkat Penggilingan,Ratarata Beras Penggilingan,Stok GKG Tingkat Penggilingan,Stok Beras Tingkat Penggilingan,Beras,Beras Kualitas Bawah,Beras Kualitas Medium,Beras Kualitas Super,UMP,BBM Solar,quantity
Komoditas,,,,,,,,,,,,,,
2020-01-01,20,3700,4000,4500,8700,600,150,-,0,0,0,1810351,9500,113151
2020-01-02,-,-,-,-,#DIV/0!,-,-,11150,9800,11100,12500,1810351,9500,113151
2020-01-03,-,-,-,-,#DIV/0!,-,-,11150,9800,11100,12500,1810351,9500,113151
2020-01-04,-,-,-,-,#DIV/0!,-,-,NaN,NaN,NaN,NaN,1810351,9500,113151
2020-01-05,-,-,-,-,#DIV/0!,-,-,NaN,NaN,NaN,NaN,1810351,9500,113151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-11,10,6760,7140,8330,14910,120,80,15800,14725,15800,16900,2057495,6800,113151
2024-03-12,10,6530,6930,8260,14810,120,80,15800,14725,15800,16900,2057495,6800,113151
2024-03-13,10,6480,6920,8240,14750,100,60,15750,14650,15725,16875,2057495,6800,113151
2024-03-14,10,6510,7060,8240,14780,150,70,15750,14650,15725,16875,2057495,6800,113151
2024-03-15,10,6480,6930,8190,14795,150,80,15750,14675,15750,16875,2057495,6800,113151

In [403]:
print(df5.dtypes)

Luas Panen Padi                    object
GKP Tingkat Petani                 object
GKP Tingkat Penggilingan           object
GKG Tingkat Penggilingan           object
Ratarata Beras Penggilingan        object
Stok GKG Tingkat Penggilingan      object
Stok Beras Tingkat Penggilingan    object
Beras                              object
Beras Kualitas Bawah               object
Beras Kualitas Medium              object
Beras Kualitas Super               object
UMP                                 Int64
BBM Solar                           Int64
quantity                            Int64
dtype: object

In [404]:
# Mengubah - menjadi 0
df5.replace('-', np.nan, inplace=True)
df5.replace('#DIV/0!', np.nan, inplace=True)
df5.dropna(inplace=True)
df5 = df5.astype('Int64')
df5

,Luas Panen Padi,GKP Tingkat Petani,GKP Tingkat Penggilingan,GKG Tingkat Penggilingan,Ratarata Beras Penggilingan,Stok GKG Tingkat Penggilingan,Stok Beras Tingkat Penggilingan,Beras,Beras Kualitas Bawah,Beras Kualitas Medium,Beras Kualitas Super,UMP,BBM Solar,quantity
Komoditas,,,,,,,,,,,,,,
2021-03-15,10,4000,4150,5050,9465,20,10,11200,9800,11150,12650,1810351,9600,113151
2021-03-16,10,3850,4100,4740,9360,70,20,11200,9800,11150,12650,1810351,9600,113151
2021-03-17,10,4160,4230,4950,9400,30,10,11200,9800,11150,12650,1810351,9600,113151
2021-03-18,10,4120,4190,4730,9340,40,10,11200,9775,11175,12650,1810351,9600,113151
2021-03-19,10,4190,4290,4990,9410,40,10,11200,9800,11150,12650,1810351,9600,113151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-11,10,6760,7140,8330,14910,120,80,15800,14725,15800,16900,2057495,6800,113151
2024-03-12,10,6530,6930,8260,14810,120,80,15800,14725,15800,16900,2057495,6800,113151
2024-03-13,10,6480,6920,8240,14750,100,60,15750,14650,15725,16875,2057495,6800,113151
2024-03-14,10,6510,7060,8240,14780,150,70,15750,14650,15725,16875,2057495,6800,113151
2024-03-15,10,6480,6930,8190,14795,150,80,15750,14675,15750,16875,2057495,6800,113151